<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      Welcome to "ALBEVA"
    </h2>
    <p class='service-explain'>
      "アルベバ"で美味しい自分だけのお酒を見つけよう
    </p>
    <p class='service-explain'>
      初めてでも簡単にカクテルが作れちゃうアプリです
    </p>
  </div>

  <%# 一覧 %>
  <div class='post-contents'>
    <h2 class='title'>＃CHEERS</h2>
    <div class="subtitle" >
      新規投稿
    </div>
    <ul class='post-lists'>
      <% if @drinks.present? %>
        <% @drinks.each do |drink| %>
          <li class='list'>
            <%= link_to drink_path(drink.id) do %>
              <div class='post-img-content'>
                <%= image_tag drink.image, class: "post-img" %>
              </div>
              <div class='post-info'>
                <h3 class='post-name'>
                  <%= drink.name %>
                </h3>
                <div class='post-user'>
                  <span><%= drink.user.nickname %></span>
                </div>
              </div>
            <% end %>
            <div class="favo" id="drink_<%= drink.id %>">
              <%= render "favorites/favorite", drink: drink%>
            </div>
          </li>
        <% end %>
      <% else %>
        <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='post-img-content'>
            <%= image_tag "25349556_s.jpg", class: "post-img" %>
          </div>
          <div class='post-info'>
            <h3 class='post-name'>
              <%= "名前(beer)" %>
            </h3>
            <div class='post-user'>
              <span><%= "nickname" %></span>
            </div>
          </div>
          <% end %>
        </li>
        <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% end %>
    </ul>
  </div>
  <%# /一覧 %>
</div>

<%= link_to(new_drink_path, class: 'post-btn') do %>
  <span class='post'>乾杯</span>
<% end %>

<%= render "shared/footer" %>

<section class="wrapper">
  <div class="container">
      <div class="content">
          <h2 class="heading">ABOUT US</h2>
          <div class="list">
              <div class="list-item">
                  <%= image_tag "25349556_s.jpg", class:"list-pict" %>
                  <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
              </div>
              <div class="list-item">
                  <%= image_tag "25184104_s.jpg", class:"list-pict" %>
                  <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
              </div>    
              <div class="list-item">
                  <%= image_tag "25167043_s.jpg", class:"list-pict" %>
                  <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
              </div>
          </div>
      </div>
  </div>
</section>