<div class="post-cheers-contents">
  <div class="post-cheers-main">
    <h1 class="post-cheers-title">#CHEERS</h1>
    <%= form_with model: @drink, url: drinks_path, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
     <%= render 'shared/error_messages', model: f.object %> 
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックして写真をアップロード
        </p>
        <%= f.file_field :image, class:"cheers-photo", id:"cheers-image" %>
      </div>
    </div>
    <%# /画像 %>

    <%= render 'shared/second_cheers' %>
    
  </div>
  <% end %>
  <%= render "shared/cheers" %>
</div>