<%= render "shared/cheers" %>

<%= form_with class: 'registration-main', model: @user, url: user_session_path, local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        SIGN IN
      </h1>
    </div>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"例) mail@mail", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
    </div>
    <div class='login-btn'>
      <%= f.submit "ログイン" ,class:"login-color-btn" %>
      <%= link_to root_path do %>
      <button class="back-btn">戻る</button>
      <% end %> 
      <%= link_to new_user_registration_path do %>
      <button class="new-login-btn">初めての方はコチラ</button>
      <% end %>
    </div>  
  </div>
<% end %>
